*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}

:root{
	--bg-color: #020312;
	--text-color: #fff;
	--main-color: #ebb34a;
	--second-color: gray;
	--other-color: #12141c;
	--h1-font: 5.2rem;
	--h2-font: 3.5rem;
	--p-font: 1.1rem;
}
body{
	background: #000 ;
	color: var(--text-color);
}
header{
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: black;
	padding: 22px 16%;
	border-bottom: 1px solid transparent;
	transition: all .40s ease;
}
.logo img{
	width: 135px;
	height: auto;
}
.logo a{
	color: rgb(134, 28, 221);
}
.navbar{
	display: flex;
}
.navbar a{
	color: rgb(255, 255, 255);
	font-size:20px;
	font-weight: 600;
	padding: 10px 25px;
	margin: 0 2px;
	border-radius: 0.5rem;
	transition: all .40s ease;
}
.navbar a:hover{
	background: rgb(134, 28, 221);
	color: white;
}
#menu-icon{
	font-size: 36px;
	color: var(--text-color);
	z-index: 10001;
	cursor: pointer;
	display: none;
}

section{
	padding: 160px 16% 90px;
}
.home{
	height: 100vh;
	width: 100%;
	position: relative;
	background-image: url(https://i.gifer.com/3F22.gif);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position:right;
	/*background-size: cover;*/
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.home-text h1{
	margin: 20px 0;
	font-size: var(--h1-font);
	font-weight: bold;
	line-height: 1.1;
	letter-spacing: 2px;
}
span{
	background: -webkit-linear-gradient(  rgb(134, 28, 221) 37%, rgba(0,212,255,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.home-text h4{
	/*background: -webkit-linear-gradient(  rgba(70,9,121,1) 37%, rgba(0,212,255,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;*/
	color: rgb(134, 28, 221);
	font-size: 34px;
	font-weight: 600;
}
.home-text h3{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 3rem;
}
.btn{
	display: inline-block;
	padding: 14px 40px;
	border-radius: 0.5rem;
	font-size: 17px;
	font-weight: 500;
	background: rgb(134, 28, 221);
	color: var(--text-color);
	border: 1px solid rgb(134, 28, 221);
	transition: all .40s ease;
}
.btn:hover{
	transform: scale(1.01) translateY(-5px);
	background: rgba(0,212,255,1);
	border: 1px solid rgb(134, 28, 221);
}

header.sticky{
	padding: 10px 16%;
	background: var(--bg-color);
	border-bottom: 1px solid #0e1630;
}
.about{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2rem;
}
.about-text h4{
	margin: 10px 0;
	color: rgb(134, 28, 221);
	font-size: 20px;
	font-weight: 600;
}
.about-text h2{
	font-size: var(--h2-font);
}
.about-text p{
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 30px;
	margin-bottom: 2rem;
}
.about-gri{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	align-items: center;
	gap: 1rem;
	margin-bottom: 3rem;
}
.about-in h5{
	font-size: 22px;
	font-weight: 600;
}
.about-img img{
	height: auto;
	width: 100%;
	max-width: 460px;
}

.main-text{
	text-align: center;
}
.main-text h2{
	font-size: var(--h2-font);
	margin-bottom: 10px;
}
.main-text h4{
	color: rgb(134, 28, 221);
	font-size: 24px;
	font-weight: 600;
}
.services-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	align-items: center;
	text-align: center;
	gap: 2rem;
	margin-top: 5rem;
}
.box{
	padding: 45px;
	background: #12141c;
	border-top: 5px solid transparent;
	border-radius: 0.5rem;
	transition: all .40s ease;
	cursor: pointer;
}
.box h3{
	font-size: 24px;
	font-weight: 600;
	margin: 15px 0;
	transition: all .40s ease;
}
.box p{
	color: white;
	font-size: var(--p-font);
	line-height: 30px;
}
.box img{
 width: 70%;
 height: 60%;
}
.box:hover{
	transform: scale(1.01) translateY(-5px);
	border-top: 5px solid  rgba(0,212,255,1);
}
.box:hover h3{
	color:rgba(0,212,255,1);
}

.portfolio-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	align-items: center;
	gap: 2rem;
	margin-top: 5rem;
}
.row img{
	height: auto;
	width: 100%;
	border-radius: 0.5rem;
	margin-bottom: 1.5rem;
}
.row{
	padding: 25px;
	background: #12141c;
	border-radius: 0.5rem;
	transition: all .40s ease;
}
.main-row{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}
.row h3{
	font-size: 25px;
	font-weight: 700;
}
.row h6{
	color:rgb(134, 28, 221); 
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
}
.row-icon i{
	font-size: 21px;
}
.row:hover{
	transform: scale(1.01) translateY(-5px);
	cursor: pointer;
}

.contact{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 3rem;
}
.contact-text h4{
	margin: 15px 0;
	color: rgb(134, 28, 221);
	font-size: 20px;
	font-weight: 600;
}
.contact-text h2{
	font-size: var(--h2-font);
}
.contact-text p{
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 30px;
	margin-bottom: 2rem;
}
.contact-list{
	margin-bottom: 3rem;
}
.contact-list li{
	margin-bottom: 10px;
	display: block;
}
.contact-list li a{
	display: block;
	color: var(--second-color);
	font-size: var(--p-font);
	font-weight: 600;
	transition: all .40s ease;
}
.contact-list li a:hover{
	transform: scale(1.01) translateY(-5px);
	color: rgb(134, 28, 221);
}
.contact-icons i{
	height: 40px;
	width: 40px;
	background: #12141c;
	border-radius: 0.5rem;
	color: rgb(134, 28, 221);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	margin-right: 10px;
	transition: all .40s ease;
}
.contact-icons i:hover{
	transform: scale(1.01) translateY(-5px);
	color: var(--text-color);
	background: rgba(85, 10, 148,1);
}

.contact-form form{
	position: relative;
}
.contact-form form input,
form textarea{
	border: none;
	outline: none;
	width: 100%;
	padding: 18px;
	background: #12141c;
	color: var(--text-color);
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
	border-radius: 0.5rem;
}
.contact-form textarea{
	resize: none;
	height: 220px;
}
.contact-form form .send{
	display: inline-block;
	font-size: 17px;
	font-weight: 500;
	background:rgba(85, 10, 148,1);;
	color: var(--text-color);
	width: 190px;
	transition: all .40s ease;
	cursor: pointer;
}

.last-text p{
	text-align: center;
	padding: 15px;
	color: var(--second-color);
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1px;
}
.top{
	position: fixed;
	bottom: 2.1rem;
	right: 2.1rem;
}
.top i{
	color: var(--text-color);
	background: rgba(85, 10, 148,1);
	font-size: 20px;
	padding: 10px;
	border-radius: 0.5rem;
}



.pricing-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	align-items: center;
	text-align: center;
	gap: 2rem;
	margin-top: 5rem;
}
.boxPricing{
	padding: 45px;
	/*background: #12141c;*/
       background: #12141c;
	border-top: 5px solid transparent;
	border-radius: 0.5rem;
	transition: all .40s ease;
	cursor: pointer;
}
.boxPricing h3{
	font-size: 24px;
	font-weight: 600;
	margin: 15px 0;
	transition: all .40s ease;
}
.boxPricing p{
	padding-top: 10%;
	color: white;
	font-size: 50px;
	line-height: 30px;
	font-style: italic;
}
.boxPricing img{
 width: 70%;
 height: 60%;
}
.boxPricing:hover{
	transform: scale(1.01) translateY(-5px);
	border-top: 5px solid  rgba(0,212,255,1);
}
.boxPricing:hover p{
	color:rgba(0,212,255,1);
}

@media (max-width: 1325px){
	header{
		padding: 16px 3%;
	}
	header.sticky{
		padding: 8px 3%;
	}
	section{
		padding: 130px 3% 60px;
	}
}

@media (max-width: 970px){
	:root{
		--h1-font: 4.2rem;
	  --h2-font: 2.9rem;
	  --p-font: 1rem;
	}
	section{
		padding: 70px 3% 60px;
	}
	.home{
		height: 85vh;
	}
	.about{
		grid-template-columns: 1fr;
	}
	.about-img{
		text-align: center;
	}
	.contact{
		grid-template-columns: 1fr;
	}
}

@media (max-width: 830px){
	#menu-icon{
		display: block;
	}
	.navbar{
		position: absolute;
		top: -600px;
		right: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		background: #12141c;
		text-align: left;
		transition: all .40s ease;
	}
	.navbar a{
		display: block;
		padding: 1rem;
		margin: 1rem;
	}
	.navbar.active{
		top: 100%;
	}
	:root{
		--h1-font: 3.7rem;
	  --h2-font: 2.7rem;
	}
}
label{
       display: none;
}


#check{
       z-index: 3;
       display: none;
}

@media (max-width:960px){
       header .navbar {
              display: none;
       }
       label{
              display: block;
              font-size: 25px;
              cursor: pointer; 
              transition: 0.3s;
              transition-property: color;    
       }

       label:hover{
              color: #fff;
       }

       label .close-btn{
              display: none;
       }

       #check:checked ~  header .navbar{
         z-index: 2;
         position: fixed;
         background: rgb(20, 0, 49) ;
         opacity:0.9;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
       }

       #check:checked ~  header .navbar a{
         font-weight: 700;
         margin-right: 0;
         margin-bottom: 50px;
         letter-spacing: 2px;
         
       }

       #check:checked ~  header label .menu-btn{
          display: none;
       }
       #check:checked ~  header label .close-btn{
              z-index: 2;
              display: block;
              position: fixed;
       }

       label .menu-btn{
              position: absolute;
       }
	.label-btn{
		position: relative;
		right: 30px;
	}

       header .logo{
              position: absolute;
              bottom: -6px;
       }

       .content .info h2{
        font-size: 45px;
        line-height: 50px;

       }

       .content .info h2 span{
         font-size: 40px;
         font-weight: 600;
       }

       .content .info p{
         font-size: 14px;
       }


}